/* Box Sizing */
* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.card--player {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.card-operations {
  position: absolute;
  display: flex;
  height: 50px;
  align-items: center;
}

.save1,
.save2 {
  margin: 10px;
}

.scores {
  background: white;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 30.5%;
}

.score {
  font-size: 106px;
  color: white;
  padding: 0 20px;
}

.score-reset {
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin: 10px;
}

.score-display {
  font-size: 36px;
  color: black;
}
